body{
    background-image: url(https://www.xtrafondos.com/wallpapers/vertical/galaxia-arte-digital-9912.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family:'Playball', cursive;
    color: #d8bbff;
    font-size: 25px;

}

img{
    width: 620px;
    border-radius: 500px;
    display: flex;
    margin-top: 100px;
    padding: 50px;
    position: absolute;
    top: 148%;
    left: 75%;
 transform: translate(-30%, -90%);

}

.hombres{
    width: 630px;
    border-radius: 200px;
    border-width: 100%;
   position: absolute;
   top: 70%;
   left: 8%;
   

}

.solar{
    width: 700px;
    height: 350px;
    border-radius: 100px;
    display: flex;
    padding: 50px;
    position: absolute;
    top: 260%;
    left: 70%;
}


.title-astrobiologia{
    line-break: 50%;
    font-size:40px;
    color:#c7f9cc;
    text-align: center;
}


.p-origen{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title-top{
    color: #f283b6;
    font-size: 40px;
    text-align: center;
}

.title-misiones{
    color:#ffef9f;
    text-align: center;
    font-size: 40px;
}

.title-universo{
    color: #D9577E;
    font-size: 40px;
    text-align: center;
}

.title-estrellas{
    color:#7bf1a8;
    font-size: 40px;
    text-align: center;
}

.main-title{
    font-family: 'Sofia', cursive;
    color: #ff006e;
    font-size: 240px;
    text-align: center;
    margin: 10px;
}

.uni a{ 
color:#7bf1a8;
display: flex;
justify-content: center;
align-items: center; 
}


.formulario{
 display: flex;
 justify-content: right;
 align-items: center;

 
}

.card-img-top{
   width: 400px;
   border-radius: 300px;
   position: absolute;
   top: 360%;
   left: 28%;
}


.card-img-tol{
   width: 400px; 
   border-radius: 220px;
   position: absolute;
   top: 393%;
   left: 28%;
}

.card-img-mo{
   width: 370px;
   border-radius: 250px;
   position: absolute;
   top: 440%;
   left: 28%;
}

.card-img-MIN{
    width: 530px;
   border-radius: 300px;
   position: absolute;
   top: 380%;
   left: 79%; 
}

.card-img-LUP{
    width: 420px;
   border-radius: 500px;
   position: absolute;
   top: 425%;
   left: 79%;  
}








